<div>
<h4>Recipe of Id: {{recipeById.id}}</h4>
    <h4> Title: {{recipeById.title}} </h4>
    <br>
    <td><img src="{{recipeById.imageUrl}}" class="img-responsive" /></td>
</div>

<div *ngIf='ingredients != null'> 
    <h1> Ingredients</h1>
    <ul> 
        <li *ngFor = 'let ing of ingredients'> 
            <td><img src="{{ing.imageUrl}}" class="img-responsive"/></td>
            {{ing.amount}}
            {{ing.unit}}
            {{ing.ingredientName}}

        </li>
    </ul>
</div>


<div *ngIf='spInstructions != null'>
    <h1>Instructions</h1>
    <ol>
        <div *ngFor = 'let instruction of spInstructions'>
            <li *ngFor = 'let step of instruction.steps'>
                {{step.step}}
            </li>
        </div>
    </ol>
</div>

<div *ngIf='spInstructions === null'>
    No instructions received from Spoonacular.
</div>

<button routerLink="/review">Create Review</button>
<button routerLink="/reviews">See Reviews</button>
<button class="add" (click)="addToFavorites(role, this.recipeById.id)">Add to Favorites</button>