<!-- <h2>Write Review</h2> -->

<!-- <div>
    <label for="rating">Rating:</label>
    <input type="number" id="rating" name="rating" min="1" max="10" #rating/>

    <label>Comment:
        <input #comment />
    </label>

    <button (click)="addReview(rating.value, comment.value)">Post Review</button>

</div> -->

<!-- Bootstrap -->
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <h3 style="text-align: center;">Write Review</h3>
            <label for="rating">Rating:</label>
            <select #rating class="form-control" id="rating">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
        
            <br>
            <label for="comment">Tell us what you think!</label>
            <input #comment id="comment" 
                        class="form-control form-control-lg" 
                        type="text"
                        placeholder="I had an amazing time cooking this recipe."> 
            <br>

            <button class="btn btn-primary" (click)="addReview(rating.value, comment.value)">Post Review</button>
        </div>
        <div class="col-2">
        </div>
   </div>
</div>