<h1 class="text-center">List your ingredients:</h1>

<form [formGroup]="ingredientsForm" (ngSubmit)="onSubmit(ingredientsForm)">
    <input formControlName="ingredientsString" placeholder="chicken,cheese,fetticinni">
    <button type="submit">Send</button>
  </form>

  <div *ngIf='spRecipes != null'>
    <h1>Recipes</h1>
    <ul>
        <li *ngFor = 'let recipe of spRecipes'>
            Id: {{recipe.id}} 
            <a routerLink="/recipe/{{recipe.id}}"  >Title: {{recipe.title}}  </a>
            <td><img src="{{recipe.image}}" class="img-responsive" /></td>
            <button (click)="postRecipes()"> Load Recipe</button>
            <button (click)="parseIngredients()"> Load Recipe Ingredients</button>
            <pre id='used'>usedingredients: {{recipe.usedIngredients | json}}</pre>
            <pre id='missed'>missedingredients: {{recipe.missedIngredients| json}}</pre>

            
        </li>
    </ul>
</div>

<div *ngIf='spRecipes === null'>
    No recipes received from Spoonacular.
</div>


<!-- MATTS OLD FORM 
<form [formGroup]="ingredientsForm">
<div formArrayName="ingredients">

<div class="row justify-content-center align-self-center" *ngFor="let item of ingredientsList.controls; let ingredientsIndex=index" [formGroupName]="ingredientsIndex">

    
    <label >
        Ingredient: <input formControlName="ingredient">
    </label>
    <button type="button" (click)="deleteIngredient(ingredientsIndex)">Remove</button>
    
    </div>
    
    
<div class="row justify-content-center align-self-center">
    <button type="button" (click)="addIngredient()">Add Ingredient</button>
    <button type="submit"> Find Recipies </button>
    <button type="button" (click)="retrieveRecipes()">Submit Ingredients</button>
</div>

--> 


<!-- 
<h2> {{ this.ingredientsForm.value | json }} </h2>
<h1> string </h1>
<h2> {{ this.ingredientsString }} </h2>
<h2> {{ this.ingredientsForm  }} </h2>
-->