<h1 class="text-center">List your ingredients:</h1>


<form [formGroup]="ingredientsForm">
<div formArrayName="ingredients">

<div class="row justify-content-center align-self-center" *ngFor="let item of ingredientsList.controls; let ingredientsIndex=index" [formGroupName]="ingredientsIndex">
    <label >
        Ingredient: <input formControlName="ingredient">
    </label>
    <button type="button" (click)="deleteIngredient(ingredientsIndex)">Remove</button>
</div>

<div class="row justify-content-center align-self-center">
    <button type="button" (click)="addIngredient()">Add Ingredient</button>
    <button type="button" (click)="retrieveRecipes()">Submit Ingredients</button>
</div>

<Script>
var querystring = ""
ingredientsForm.forEach(element => {
    querystring += element.value()
    
});
Document.getElementById('querystring').value += querystring; 
</Script>
<h1 id='querystring'> </h1>
{{ this.ingredientsString }}
{{ this.ingredientsForm.value | json }}