<!-- <p>signup works!</p> -->


<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
  <div> 
  <input formControlName="username" placeholder="BadJohnDoe">
  </div>
  <div> 
  <input formControlName="password" placeholder="******">
  </div>
  <div> 
  <input formControlName="firstname" placeholder="John">
  </div>
  <div> 
  <input formControlName="lastname" placeholder="Doe">
  </div>
  <div> 
  <input formControlName="email" placeholder="JohnDoe@gmail.com">
  </div>
  <div>
  <button type="submit">Register</button>
  </div>
</form> -->

<!-- Bootstrap -->
<div style="margin: 20px;">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control col-md-5" id="username" formControlName="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control col-md-5" id="password" formControlName="password" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control col-md-5" id="firstname" formControlName="firstname" placeholder="Enter first name">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control col-md-5" id="lastname" formControlName="lastname" placeholder="Enter last name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control col-md-5" id="email" formControlName="email" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  </div>


<!-- 
<div> 
    <form>

        <div>
            <label for="Username">
              Username
            </label>
            <input id="Username" type="text" formControlName="Username">
          </div>


          <div>
            <label for="Passphrase">
              Password
            </label>
            <input id="Passphrase" type="text" formControlName="Passphrase">
          </div>


          <div>
            <label for="Firstname">
              Firstname
            </label>
            <input id="Firstname" type="text" formControlName="Firstname">
          </div>

          <div>
            <label for="Lastname">
              Lastname
            </label>
            <input id="Lastname" type="text" formControlName="Lastname">
          </div>

          <div>
            <label for="Email">
              Email
            </label>
            <input id="Email" type="text" formControlName="Email">
          </div>

          <button class="button" type="submit">Sign Up</button>
          
        <button (click)="postAccount(Username.value, Passphrase.value, Firstname.value, Lastname.value, Email.value);" class="button" type="submit">Sign Up</button>
            
    </form> 
  </div>
-->