<p> Login Works and goes here </p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
  <div> 
  <input formControlName="username" placeholder="BadJohnDoe">
  </div>
  <div> 
  <input formControlName="password" placeholder="******" type="password">
  </div>
  <div>
  <button type="submit">Login</button>
  </div>
</form>



<!--
<div> 
  <form>
      <div>
          <label for="Username">
            Username
          </label>
          <input id="Username" type="text" formControlName="Username">
        </div>
      
        <div>
          <label for="Passphrase">
            Password
          </label>
          <input id="Passphrase" type="password" formControlName="Passphrase">
        </div>
      <button class="button" type="submit">Login</button>
    </form> 
</div>


<div> 
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    
        <div>
            <label for="Username">
              Username
            </label>
            <input id="Username" type="text" formControlName="Username">
          </div>
        
          <div>
            <label for="Passphrase">
              Password
            </label>
            <input id="Passphrase" type="password" formControlName="Passphrase">
          </div>
        

        <button class="button" type="submit">Purchase</button>
      
      </form> 
</div>
-->