<p> Login Works and goes here </p>

<!--
<div> 
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    
        <div>
            <label for="Username">
              Username
            </label>
            <input id="Username" type="text" formControlName="Username">
          </div>
        
          <div>
            <label for="Passphrase">
              Password
            </label>
            <input id="Passphrase" type="password" formControlName="Passphrase">
          </div>
        

        <button class="button" type="submit">Purchase</button>
      
      </form> 
</div>
-->