<!-- <div *ngIf="role?.length > 0; else elseBlock">
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button routerLink="">Home</button>
        <button routerLink="/ingredients-form">New Recipe</button>
        <button routerLink="/favorites/favoritesbyuserid/{{role}}">Your Favorites</button>
        <button routerLink="/userReviews">Your Reviews</button>
        <button (click)='signout()'>Sign Out </button>
    </nav>
</div>
</div>

<ng-template #elseBlock>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button routerLink="/login">Login In</button>
            <button routerLink="/signup">Sign Up</button>
        </nav>
    </div>
</ng-template> -->


<!-- Bootstrap -->
<div *ngIf="role?.length > 0; else elseBlock">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
        <img src="../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        Fridge Things
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/ingredients-form">Find Recipes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorites/favoritesbyuserid/{{role}}">Your Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/userReviews">Your Reviews</a>
        </li>
      </ul>
        <button class="btn btn-outline-secondary my-2 my-sm-0" (click)='signout()'>Sign out</button>
    </div>
  </nav>
</div>

<ng-template #elseBlock>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="">
                <img src="../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
                FridgeThings
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/login">Log in<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/signup">Sign up</a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
</ng-template>

<!--
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <li> <a routerLink="">Home</a></li>
        <li> <a routerLink="/ingredients-form">New Recipe</a></li>
        <li> <a routerLink="/favorites">Your Favorites</a></li>
        <li> <a routerLink="/reviews">Your Reviews</a></li>
        <li> <a routerLink="/login">Login In</a></li>
        <li> <a routerLink="/signup">Sign Up</a></li>
    </nav>
</div>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <li> <a routerLink="/login">Login In</a></li>
        <li> <a routerLink="/signup">Sign Up</a></li>
    </nav>
</div>
 -->