<div *ngIf="role?.length > 0; else elseBlock">
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <li> <a routerLink="">Home</a></li>
        <li> <a routerLink="/ingredients-form">New Recipe</a></li>
        <li> <a routerLink="/favorites">Your Favorites</a></li>
        <li> <a routerLink="/reviews">Your Reviews</a></li>
        <li> <button (click)='signout()'>Sign Out </button></li>
    </nav>
</div>
</div>

<ng-template #elseBlock>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <li> <a routerLink="/login">Login In</a></li>
            <li> <a routerLink="/signup">Sign Up</a></li>
        </nav>
    </div>
</ng-template>
<!--
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <li> <a routerLink="">Home</a></li>
        <li> <a routerLink="/ingredients-form">New Recipe</a></li>
        <li> <a routerLink="/favorites">Your Favorites</a></li>
        <li> <a routerLink="/reviews">Your Reviews</a></li>
        <li> <a routerLink="/login">Login In</a></li>
        <li> <a routerLink="/signup">Sign Up</a></li>
    </nav>
</div>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <li> <a routerLink="/login">Login In</a></li>
        <li> <a routerLink="/signup">Sign Up</a></li>
    </nav>
</div>
 -->