@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">what you got?!</h1>
    <p>Have ingredients but don't know what to cook up? No worries! We got you.</p>
</div>
 